This is where I enter set up the data entry for my coffee. There are improvements that could be made, but for now, it gets the job done.

In [1]:
import numpy as np
import pandas as pd

I ask for inputs that then get placed into a dataframe before concatenating the new data to my existing csv. There should be more if else statements if this was going into a production but for my own personal use, I believe it is in an acceptable state.

In [14]:
# Get the coffee info from that day

dummy_df = pd.DataFrame()

coffee_yn = input("Did you have coffee today? ")

coffee_yn = coffee_yn.lower()
if coffee_yn == 'y' or coffee_yn == 'yes':
    date_input = input('Enter the date: ')
    brand_input = input('Enter the brand of coffee used: ')
    roast_input = input('Enter the roast: ')
    blend_input = input('Enter the blend name: ')
    ice_input = input('Was the coffee made over ice? ')
    grind_input = input('What grind size was used? ')
    method_input = input('What method was used to brew? ')
    coffee_input = input('How much coffee in grams was used? ')
    water_input = input('How much water was used to brew? ')
    ice_amount = input('How much ice was used? ')
    bloom_input = input('How long was the coffee allowed to bloom? ')
    rating_input = input('What was the overall rating of the coffee? ')
    new_row = {'Date': date_input, 'Brand': brand_input, 'Roast':roast_input, 
               'Blend': blend_input, 'Iced': ice_input,
              'Grind_size': grind_input, 'Method': method_input, 'Amount_coffee': coffee_input,
               'Amount_water': water_input, 'Amount_ice': ice_amount, 'Bloom_time': bloom_input, 
               'Rating': rating_input}

    dummy_df = dummy_df.append(new_row, ignore_index = True)
    #dummy_df = pd.concat([dummy_df,new_row], ignore_index = True)
        
else:
    print('Have a good day')

/tmp/ipykernel_5492/572125622.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dummy_df = dummy_df.append(new_row, ignore_index = True)

Below is the dummy df that contains how today's coffee was made.

In [15]:
#Ensuring that the info got put into the df
dummy_df

,Date,Brand,Roast,Blend,Iced,Grind_size,Method,Amount_coffee,Amount_water,Amount_ice,Bloom_time,Rating
0,01/01/2023,legrand coffee house,medium,costa rica,no,11,chemex,35,566,n/a,45,8.0

In [16]:
#df = pd.DataFrame(columns = ['Date', 'Brand', 'Roast', 'Blend', 'Iced',
#                         'Grind_size', 'Method', 'Amount_coffee', 
#                        'Amount_water', 'Amount_ice', 'Bloom_time', 
#                             'Rating'])

In [17]:
#print(df)

In [18]:
#df = pd.concat([df, dummy_df], ignore_index = True)

In [19]:
#df.to_csv('coffee.csv')

In [20]:
# Reading in the master df
coffee_df = pd.read_csv('coffee.csv', index_col = 0)
coffee_df.tail(10)

,Date,Brand,Roast,Blend,Iced,Grind_size,Method,Amount_coffee,Amount_water,Amount_ice,Bloom_time,Rating
182,12/11/2022,bason,unknown,jingle bell java,no,11,chemex,35,553,NaN,45,8.75
183,12/14/2022,bason,unknown,Mistletoe Java,no,6,aeropress,22,250,NaN,0,8.50
184,12/14/2022,bason,unknown,Mistletoe Java,no,11,chemex,35,550,NaN,45,8.25
185,12/15/2022,bason,unknown,Mistletoe Java,no,11,chemex,35,552,NaN,45,8.00
186,12/16/2022,bason,unknown,mistletoe java,no,11,chemex,35,555,NaN,45,8.25
187,12/19/2022,bason,unknown,mistletoe java,no,11,chemex,35,556,NaN,45,8.00
188,12/19/2022,bason,unknown,mistletoe java,no,11,chemex,35,559,NaN,45,8.00
189,12/27/2022,bason,unknown,death by chocolate,no,11,chemex,35,558,NaN,45,7.75
190,12/28/2022,bason,unknown,death by chocolate,no,11,chemex,35,558,NaN,45,8.00
191,01/04/2022,legrand coffee house,medium,costa rica,no,11,chemex,35,551,NaN,45,8.25

Reading in the master csv that contains how I made my coffee from when I started this journey.

In [21]:
#df_1 = coffee_df[coffee_df['Brand'] == 'Red Rooster']
#print(df_1)

Below is where I concatinate my temporary dataframe with the master dataframe.

In [22]:
# Joining the day into the master
df = pd.concat([coffee_df, dummy_df], ignore_index = True)
df.tail(10)

,Date,Brand,Roast,Blend,Iced,Grind_size,Method,Amount_coffee,Amount_water,Amount_ice,Bloom_time,Rating
183,12/14/2022,bason,unknown,Mistletoe Java,no,6,aeropress,22,250,NaN,0,8.5
184,12/14/2022,bason,unknown,Mistletoe Java,no,11,chemex,35,550,NaN,45,8.25
185,12/15/2022,bason,unknown,Mistletoe Java,no,11,chemex,35,552,NaN,45,8.0
186,12/16/2022,bason,unknown,mistletoe java,no,11,chemex,35,555,NaN,45,8.25
187,12/19/2022,bason,unknown,mistletoe java,no,11,chemex,35,556,NaN,45,8.0
188,12/19/2022,bason,unknown,mistletoe java,no,11,chemex,35,559,NaN,45,8.0
189,12/27/2022,bason,unknown,death by chocolate,no,11,chemex,35,558,NaN,45,7.75
190,12/28/2022,bason,unknown,death by chocolate,no,11,chemex,35,558,NaN,45,8.0
191,01/04/2022,legrand coffee house,medium,costa rica,no,11,chemex,35,551,NaN,45,8.25
192,01/01/2023,legrand coffee house,medium,costa rica,no,11,chemex,35,566,n/a,45,8.0

In [23]:
#df.drop(df.columns[[0]], axis = 1, inplace=True)
#df

Since this csv is still a manageable size, I save my concatinated dataframe to access again whenever I make myself coffee.

In [24]:
# New Master dataframe
df.to_csv('coffee.csv')